body{
  display: initial !important;
  justify-content: initial !important;
  align-items: initial !important;
  height: auto !important;
}

.navbar{
  display: flex;
  align-items: center;
  background-color: #333;
  height: 90px;
  padding: 10px 20px;
  z-index: 1000;
}

nav > li{
  margin: 0;
}
nav > img {
  height: 70px;
  margin-right: 10px;
}
.navbar-websitename{
  margin: 0;
  margin-right: auto;
  color: white;
  font-size: 30px;
}
.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar-item{
  margin-right: 10px;
}
.nav-link{
  color: #fff;
  text-decoration: none;
}
.nav-link:hover{
  text-decoration: underline;
}
body{
  margin: 0;
  font-family:sans-serif;
  padding-top: 90px;

  display: initial !important;
  justify-content: initial !important;
  align-items: initial !important;
  height: auto !important;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.product-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;

  width: 100%;
  max-width: 300px;
}

.product-card > img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.product-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}
.carousel-titel{
  font-size: 36px; /* Adjust the font size as needed */
  margin: 10px; /* Add margin for spacing */
  text-align: center; /* Center-align the title */
}


.cookie-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparante achtergrond */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-container {
  text-align: center;
}




